<div id="wrapper2">
  <div id="newsletter" class="container">
    <div class="title">
      <h2>Projects List</h2>
      <span class="byline"></span> </div>
    <div class="content">
    </div>
  </div>
</div>